doctype html
html 
head 
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='icon' type='image/png' href='/img/favicon16.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title}
body
    //- h2= tour 
    //- //- h1 team Wont be displayed/visible in the console now
    //- h1 The Parker Camper
    //- - const x= 2;
    //- h2= 2*x

    // HEADER
    include _header
        
    // CONTENT
    block content
      
    // FOOTER
    include _footer
        script(src='/js/bundle.js')
//-     script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js')
//-     script(src='/js/login.js')
            
